.hero {
    background: rgba(0, 0, 0, 0) url("../images/callmebobby.jpg") no-repeat scroll 34% 20% / cover ;
    height: 632px;
}

.hero {
  background: hsla(201, 61%, 50%, 1) url("../images/callmebobby.jpg") no-repeat scroll 34% 20% / cover ;
  height:632px;
    margin: 0 auto;
    position: relative;
    transition: all 0.5s ease 0s;
    width: 100%;
}

#biography {
  background-color: #37c6c8; // Old browsers
  background-color: linear-gradient(to top,  hsla(181,31%,50%,1) 0%,hsla(181,45%,46%,1) 40%,hsla(181,57%,50%,1) 100%);
  @include linear-gradient-svg(female_bust, hsla(181,85%,46%,.6), hsla(181,85%,46%,.6), 1, no-repeat scroll 30% 100% / 30% auto, '100%', '100%', '0 0 100 125', '', to top, hsla(190, 43%, 61%, 1) 0%, hsla(181,45%,46%,1) 60%, hsla(181,57%,50%,1) 100%);
}

// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#37c6c8+0,41a8aa+40,58a6a7+100
//background-color: #37c6c8; // Old browsers

//@include background-image(linear-gradient(top,  hsla(181,57%,50%,1) 0%,hsla(181,45%,46%,1) 40%,hsla(181,31%,50%,1) 100%));


