@import "common/custom-colors";
@import "common/variables";

.mdl-layout__header .mdl-layout__drawer-button {
    @extend .mdl-color-text--grey-50;
}

body { scroll-behavior: smooth; }

p {
    font-size: 16px;
  }

.widget_recent_entries ul li {
  font-size: 1.2em;
  line-height: 1.5;
  list-style: outside none none;
  list-style-type:none;
  margin:0;
  padding:0;
  display: inline-block;
  //background: transparent url('../images/sprites/sprite-defs.svg#forward') no-repeat;
}

// Generate code for flexbox responsive lists.
@include n-columns(200px,  10px, true, 3);

#cta-button {
  text-align: center;
  background: $button-primary-color;
  //background: -moz-linear-gradient(center top , #00DD88 0%, #00CC00 100%) repeat scroll 0 0 transparent;
  border-radius: 1px;
  border: 1px solid $color-primary-dark;
  text-shadow: 0;
  margin: 5px 0 10px 15px;
  position: absolute;
  right: -980px;
  width: 200px;
  display: none;
  z-index: 100;
}

#cta-button:hover {
    background: $button-hover-color;
  }

//Breakpoints 480, 600, 840, 960, 1280, 1440, and 1600dp.
//rems 30, 37, 52, 60, 80, 90, 100

@media (min-width: 480px) {
  .mdl-cell--phone-only {
    display: none;
  }
}
/* Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background.
.material-icons.md-dark { color: red; }
.material-icons.md-dark.md-inactive { color: magenta; }

/* Rules for using icons as white on a dark background.
.material-icons.md-light { color: green; }
.material-icons.md-light.md-inactive { color: lime; } */
