p {
    font-size: 14px;
    line-height: 1.4em;
  }

ol, ul {
  //list-style-type: none;
  text-align: left;
  line-height: 1.4rem;
  list-style: none;
}

.text-list {
  margin: 1em 0;
}

ul.text-list, ol.text-list{
  padding-left:0;
}

.entry-content, .entry-data {
  p {
    text-align: justify;
    font-family: Georgia, serif;
    }
}

h1 {
    @include typo-display-1();
  }

h2 {
    @include typo-headline();
  }

h3 {
    @include typo-title();
  }

.nobr	{ white-space:nowrap; }

.entry-content, .entry-data {
    em {
      color: unquote("rgb(#{$palette-turquoise-800})");
      font-style: normal;
    }
    text-align: justify;
  }

.entry-content p, .mdl-card__supporting-text > p  {
  font-family: Georgia, "times new roman", serif;
  }

.entry-content p:first-of-type::first-letter  {
    float: left;
    font-size: 4rem;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 4px;
    color: unquote("rgb(#{$palette-turquoise-800})");
}

.mdl-card__actions p {
  text-indent: 0;
  }

abbr {
  letter-spacing: 0.1em;
}


@media (min-width: 37rem) {

  h1 {
    @include typo-display-2();
  }

  h2 {
    @include typo-display-1();
  }

  h3 {
    @include typo-headline();
  }
}

@media (min-width: 60rem) {
  h1 {
    @include typo-display-3();
  }

  h2 {
    @include typo-display-2();
  }

  h3 {
    @include typo-display-1();
  }
}
