.icon {
	background-repeat: no-repeat;

	&.icon-ic_envelope_18px {
		background-image: url('../assets/images/icons/png/ic_envelope_18px.png');
	}

	&.icon-ic_phone_18px {
		background-image: url('../assets/images/icons/png/ic_phone_18px.png');
	}

	&.icon-ic_print_black_18px {
		background-image: url('../assets/images/icons/png/ic_print_black_18px.png');
	}

}