.size-full {
  max-width: 100%;
  height: auto;
  margin: 0 0 1em 0;
}

.size-medium {
  margin: 0 1em 1em 0;
}

.mdl-card__media {
  background-color: transparent;
}

@media (max-width: 479px) {
  .alignleft, .alignright {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 480px) {
  .size-medium {
    margin: 0 1em;
  }

  figure {
    .size-medium {
      margin: 0;
    }
  }
}

